@page "/MonthlyEarning/{Rate:float}/{Code}"
 
@using AverageEarning.Services.Interface

<h3>MonthlyEarning</h3>
@if (string.IsNullOrWhiteSpace(errorString) == false)
{
    <div class="h2">@errorString</div>
}else if((exchangeRate is null)&&(Payouts is null))
{
    <div class="h4">Loading...</div>
}
else{
    <div> Przy zarobku @Rate @Code Brutto dziennie</div>
    <div> Zarobisz w ciągu miesiąca (22 dni) : </div>
    <div>
        @foreach(var payout in Payouts)
        {
            <div>
                W @payout.CountryName : @payout.Rate @payout.Code Netto
            </div>
        }
    </div>
}

