@page "/MonthlyEarning/{Rate:float}/{Code}"
 
@using AverageEarning.Services.Interface

<h3>MonthlyEarning</h3>

@code {

    [Inject]
    protected ICountriesData CountriesData { get; set; }
    [Inject]
    protected IHttpClientFactory _clientFactory { get; set; }

    [Parameter]
    public float Rate{ get; set; }

    [Parameter]
    public string Code{ get; set; }

    ExchangeRate exchangeRate;
    string errorString;

    public ICollection<Country> Countries{ get;set; }

    protected override async Task OnInitializedAsync()
    {
        Countries = CountriesData.GetAllCountries();

        var request = new HttpRequestMessage(HttpMethod.Get,
        "https://api.nbp.pl/api/exchangerates/tables/A");

        var client = _clientFactory.CreateClient();

        HttpResponseMessage respones = await client.SendAsync(request);

        if(respones.IsSuccessStatusCode)
        {
            exchangeRate = await respones.Content.ReadFromJsonAsync<ExchangeRate>();
        }
        else
        {
            errorString = $"There was an error getting our exchangeRat : {respones.ReasonPhrase}";
        }
    }
}
